body{padding: 115px 0 0;}
.tg-header{padding: 8px 0;}

.tg-btn__yellow:before{
    background: #f4bd01 !important;
}

.tg-btn__guinda:before{
    background: #ae504e !important;
}
.tg-btn__white{
    background: #fff !important;
}
.txt-red{
    color: red !important;
    font-weight: 800;
}

/* CONGRESO VIRTUAL */
body.body-congreso{
    padding: 0 !important;
}
.body-congreso .logo{
    width: 140px;
}
.tg-speakerslider{
    overflow: hidden;
    border: solid 1px #e8e7e7;
    padding: 10px;
    box-sizing: border-box;
}
#zona-zoom{
    background: #1a1a1a;
    width: 100%;
    min-height: 420px;
    position: relative;
    border: solid 1px #1a1a1a;
}
#zona-zoom img.load-zoom{
    display: block;
    margin: auto;
}
#zona-zoom iframe{
    position: absolute;
    height: 100%;
}
.congreso-virtual-pdf{
    width: 80px;
    display: block;
    margin: auto;
}

.tg-congreso-sponsor{
    padding: 19px 5px;
}
.tg-congreso-sponsor .item{
    
    padding: 0 5px;
}
.tg-congreso-sponsor .item:after{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: #c0c0c0;
    position: absolute;
    top: 20px;
    left: 0;;
}

.tg-speakerslider .tg-speakerslidercontent{
    
}
.tg-speakerslider .tg-speakerslidercontent .tg-speakerslidercontent-img{

}
.tg-speakerslider .tg-speakerslidercontent .tg-speakerslidercontent-desc{

}
.tg-speakerslider .tg-speakerslidercontent .tg-speakerslidercontent-img img{
    width: 100px;
    margin-top: 24px;
    border-radius: 45px;
}
.body-congreso header{
    background: #543b8e;
    padding: 5px;
}
.body-congreso header h1{
    color: #fff;
    line-height: 2.5;
    font-weight: 800;
}
.congreso-login{
    display: flex;
}
.congreso-login-portada{
    flex: 2;
    background: url('../images/congreso_internacional_phvaperu.jpg') no-repeat;
    background-size: cover;
}
.congreso-login-form{
    flex: 3;
    background: #ffe9b7;
}
.congreso-form{
    width: 70%;
    padding: 30px;
    margin: auto;
}
.congreso-form h1{
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}
.congreso-form h3{
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
}
.congreso-sponsor{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.congreso-sponsor ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}
.congreso-sponsor ul li{
    list-style: none;
    width: 15%;
    margin: 5px;
}

.congreso-sponsor ul li img{
    width: 100%;
}

.congreso-form__foget{
    padding: 200px 0;
}

.franja{
    background:#49a0f7;
    width: 100%;
    min-height: 30px;
    margin: 10px 0;
    text-align: center;
}
.franja h2{
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.stands-slider{
    /* background: #f1f1f1; */
    width: 100%;
    min-height: 86px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.stands-slider-item{
    width: 13%;
    min-height: 10px;
    margin: 0 3px;
    cursor: pointer;
}
.stands-slider-item img{
    transition: all 0.2s;
    border: 1px solid #f0f0f0;
}
.stands-slider-item img:hover{
    border: 1px solid #7e7e7e;
}
.stands-slider-item .stands-slider-item__active {
    border: 4px solid #dd0220;
}
.stands-slider-item .stands-slider-item__active:hover {
    border: 4px solid #dd0220;
}
.stands-content{
    border: solid 1px #c11414;
    /* padding-bottom: 40px; */
}
.stands-content-nombre{
    text-align: center;
    position: relative;
}

.stands-content-nombre h3{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    background: white;
    position: relative;
    top: -15px;
    padding: 0px 16px;
}
.stands-content-box{
    display: flex;
    /* height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20px; */
}
.stands-content-item{
    padding: 10px;
    margin: 10px;
    width: 31%;
}

.stands-content-banner{
    
}
.stands-content-banner-redes{
    overflow: hidden;
    margin: 10px 0;
}
.stands-content-banner-redes a{
    margin: 0 3px;
}
.stands-content-banner-redes img{
    width: 30px;
    transition: all 0.1s;
}
.stands-content-banner-redes img:hover{
    transform: rotate(27deg);
}

.stands-content-banner-redes-web{
    float: left;
}
.stands-content-banner-redes-face{
    float: right;
}
.stands-content-banner-redes-twitter{
    float: right;
}
.stands-content-banner-redes-instagram{
    float: right;
}
.stands-content-banner-img{
    border: solid 1px #f3f3f3;
    text-align: center;
}
.stands-content-servicios{
}
/* .stands-content-servicios .tg-services-stands img{
    border: solid 1px #c0c0c0;
} */
.tg-services-stands-content-nombre {
    overflow: hidden;
    padding: 5px 0;
}

.tg-services-stands-content-nombre h4{
    margin: 10px 0;
    line-height: 17px;
    font-weight: 400;
    float: right;
    width: 80%;
}
.tg-services-stands-content-nombre span{
        float: left;
        width: 20%;
}
.tg-services-stands-content-nombre span img{
   display: block;
   margin: auto;
   width: 45px !important;
}
.tg-services-stands-content-sumilla{
    padding-top: 10px;
}
.tg-services-stands-content-sumilla .enlace_pago{
    width: 70%;
    display: block;
    margin: auto;
}
.tg-services-stands-content-sumilla p{
    line-height: 14px;
    text-align: justify;
    font-size: 13px;
}

#form_contacto .alert{
    padding: 7px;
    float: right;
    margin: 0;
    width: 50%;
    text-align: center;
    font-size: 13px;
}

.stands-content-contacto{
}
.stands-content-contacto h4{
    background: #49a0f7;
    text-align: center;
    color: #fff;
    border-radius: 15px;
}
.stands-content-contacto-wa{
    overflow: hidden;
}
.stands-content-contacto-wa a{
    float: right;
}
.stands-content-contacto-wa a img{
    width: 175px;
}
.usuario-congreso{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.usuario-congreso h1{
    font-size: 15px;
}


@media (max-width: 960px){
    .stands-slider-item{
        width: 20%;
        margin: 5px;
    }

}


@media (max-width: 760px){
    .stands-slider-item{
        width: 25%;
        margin: 5px;
    }
    .stands-content{
        display: block;
        height: initial;
        min-height: 10px;
    }
    .stands-content-item{
        width: 100%;
        padding: 10px;
        margin: 10px;
        min-height: 100px;
    }   
    .stands-content-box{
        flex-wrap: wrap;
    }     
}