.div_color{
    width:100px;
    height:150px;
    float:left;
    margin:5px;
}
.div_color2{
    width:70px;
    height:120px;
    float:left;
    margin:5px;
}
.div_color2 h6{
    line-height: 12px;
}

.caja_color2{
    width:70px;
    height:50px;
    border: #BDBDBD solid 1px;
}
.caja_color{
    width:100px;
    height:50px;
    border: #BDBDBD solid 1px;
}
#cont_colores{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);    
}
#elejidos_colores{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);    
}
.tit_col{
    width: 100%;
    height: 25px;
}
.env_col_mant{
    float:left;
    width: 120px;
    min-height: 10px;
}
.cu_col_mant{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    float:left;
    border: #BAB8B7 solid 1px; 
}
.capa_orden{
    float: left;
    width: 150px;
    height: 100px;
    border: #BDBDBD solid 1px;
}
#msgCli{
    width: 70%;
}
#capa_ordenamiento_productos{
    background: #eee;    
    border: #BDBDBD solid 1px;
    margin: auto;
    min-height: 100px;
    width: 49%;
}

form legend{
    font-size: 13px !important;
}

span.fecha{
    font-size:10px;line-height: 10px;display: block;
}